/* reset css */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
.inner-wrapper {
    /* max-width: 1366px;
    margin-left: auto;
    margin-right: auto; */
}
a{  
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

input:focus, 
select:focus, 
button:focus, 
textarea:focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: gainsboro !important;
}
select {
    cursor: pointer;
}

/* google fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap'); */

/* Root variable */
:root {
	/* --ss-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Merriweather Sans', 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji'; */
    --cd-font-primary: 'Roboto', sans-serif;
    
    /* color */
    --cd-red: #CC0000;
    --cd-black: #000000;
    --cd-white: #ffffff;

    /* font-size */
    --cd-font-xss: 12px;
    --cd-font-xs: 14px;
    --cd-font-s: 16px;
    --cd-font-m: 18px;
    --cd-font-l: 20px;
    --cd-font-xl: 30px;
    --cd-font-xll: 60px;
}

html, body{
    scroll-behavior: smooth !important;
    -webkit-font-smoothing: antialiased;
}

/*================ common-css =================*/
.section-title {
    
}
.bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* -------- bg color -------- */
.red-bg {
    background-color: var(--cd-red);
}
/* -------- text color -------- */
.text-red {
    color: var(--cd-red);
}
/* opacity */
.opacity-100{
    opacity: 0.1;
}
.opacity-200{
    opacity: 0.2;
}
.opacity-300{
    opacity: 0.3;
}
.opacity-400{
    opacity: 0.4;
}
.opacity-500{
    opacity: 0.5;
}
.opacity-600{
    opacity: 0.6;
}
.opacity-700{
    opacity: 0.7;
}
.opacity-800{
    opacity: 0.8;
}
.opacity-900{
    opacity: 0.9;
}
/* -------- font size */
.font-xss {
    font-size: var(--cd-font-xss);
}
.font-xs {
    font-size: var(--cd-font-xs);
}
.font-s {
    font-size: var(--cd-font-s);
}
.font-m {
    font-size: var(--cd-font-m);
}
.font-l {
    font-size: var(--cd-font-l);
}
.font-xl {
    font-size: var(--cd-font-xl);
}
.font-xll {
    font-size: var(--cd-font-xll);
}
/* --------- font weight */
.font-light{
    font-weight: 300;
}
.font-regular{
    font-weight: 400;
}
.font-medium{
    font-weight: 500;
}
.font-bold{
    font-weight: 700;
}
.font-extra-bold{
    font-weight: 900;
}
/* ----------- text indent */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
/* -------- border -------- */

/* ---------- btn ---------- */
.btn-primary{
    background-color: var(--cd-red);
    padding: 8px 10px;
}
.btn-custom{
    border-radius: 100px;
    font-weight: 500;
    font-size: var(--cd-font-m);
    line-height: 20px;
    color: #FFFFFF;
    padding: 10px 16px;
}
.btn-custom__red{
    background-color: var(--cd-red);
}
.box-shadow-none {
    box-shadow: none !important;
}

body{
    font-family: var(--cd-font-primary);
    background-color: var(--cd-white);
    font-size: var(--cd-text-s);
    -webkit-font-smoothing: antialiased;
}

.inherit-hover:hover{
    color: inherit;
}
.red-hover:hover{
    color: var(--cd-red);
}
.no-transition{
    transition: unset;
}

/* ============ header css  =================================== */
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    padding-top: 30px;
}
.header__wrapper {
    padding-left: 48px;
    padding-right: 48px;
}

a.header-social_link {
    color: #fff;
    padding: 7px;
    border: 1px solid #fff;
    border-radius: 100px;
    margin-left: 12px;
}

a.header-social_link i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
}
a.header-social_link:hover {
    color: var(--cd-red);
    border-color: var(--cd-red);
}
/* banner video */
/* section.banner-video, */
.banner-video-inner {
    position: relative;
    /* height: 100vh;
    width: 100vw; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-video--box {
    position: relative;
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.banner-article-wrapper {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
    padding: 0 15px;
    margin-top: 35px;
}
.banner-article__title {
    margin-bottom: 53px;
}
.banner-article__subtitle {
    line-height: 33px;
    margin-bottom: 48px;
}
.banner-form {
    max-width: 580px;
    width: 100%;
    margin: 0 auto;
}
.banner-form__field {
    padding: 20px;
}
.banner-form__field--email {
    flex: 1;
}
.banner-video-inner:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000;
    z-index: 1;
}
.cta-btn {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background-color: var(--cd-red);
    position: absolute;
    bottom: -23px;
    left: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9;
    cursor: pointer;
}
.cta-btn img {
    object-fit: cover;
}
/* offering-1 */
.offering-1 {
    padding: 150px 0 0;
    position: relative;
}
.offering-1-text {
    /* max-width: 596px;
    width: 100%;
    overflow: hidden; */
    flex: 0 0 auto;
    padding-right: 10%;
}
.offering-1-img {
    flex: 1;
}
.offer-1-img__box {
    /* max-width: 772px;
    width: 100%; */
    position: relative;
    top: -230px;
    z-index: 9;
}
.offer-1-img__box img {
    object-fit: cover;
    width: 100%;
}
.red-line-list {
    padding-left: 30px;
    margin-left: 110px;
    position: relative;
}
.red-line-list:before {
    content: '';
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 3px;
    background-color: var(--cd-red);
}
.bullet-item > li {
    position: relative;
    padding-left: 10px;
    margin-bottom: 24px;
    font-size: var(--cd-font-l);
}
.bullet-item > li:before {
    content: '';
    width: 5px;
    height: 5px;
    border-radius: 100px;
    background: red;
    position: absolute;
    left: 0;
    top: 10px;
}


/* offering 2 */
.offering-2 {
    margin-top: -100px;
    padding-bottom: 133px;
}
.offering-2-img {
    margin-left: -12px;
    margin-right: -12px;
    display: flex;
    flex: 1;
}

.offering-2-img__box {
    padding-left: 12px;
    padding-right: 12px;
    width: 33.33%;
}

.offering-2-img__box img {
    width: 100%;
}

.offering-2-text {
    max-width: 795px;
    width: 100%;
    flex: 0 0 auto;
    padding: 0px 3%;
}

/* see soon */
.see-soon {
    padding-bottom: 150px;
}
article.see-soon-article {
    /* max-width: 550px; */
    /* width: 100%; */
    padding-left: 10%;
    width: 667px;
    flex: 0 0 auto;
}
article.see-soon-article h1 {
    margin-bottom: 55px;
}
.see-soon-img-box {
    position: relative;
}
.soon-big-img {
    width: 100%;
}

.soon-front-img {
    position: absolute;
    left: -55px;
    top: 56%;
    transform: translateY(-50%);
}

.see-soon-img {
    flex: 1;
    padding-left: 146px;
}

/* location css */
.location-wrapper > div {
    width: 50%;
}
.location-address {
    padding: 45px;
}
h2.location-title {
    position: relative;
    padding-bottom: 40px;
    margin-bottom: 40px;
}

h2.location-title:after {
    content: '';
    width: 40px;
    height: 4px;
    background: red;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.location-map img {
    width: 100%;
}